body{
	margin: 20px;
	padding: 0;
	background: #151515;
	font-size: 14px;
}
.textarea-editor, textarea{
	padding: 10px;
	width: 99%;
	min-height: 400px;
	border: none;
	outline: 0;
	background: #000;

	-webkit-box-shadow: none !important;
	box-shadow: none !important;

	font-family: 'Monaco', 'Lucida Console', 'Courier New' !important;

}
.btn-nav-show{
	position: absolute;
	right: 20px;
	top: 10px;
}